.header {

  padding-top: 80px;

  &__title {
    font-size: var(--fs_main-title-text);
    line-height: 100%;
    font-weight: 700;
    color: var(--black);
  }

  &__description {
    position: absolute;
    right: 15px;
    top: 0;
  }

  &__banner {
    width: 100%;
    //height: 610px;

    //height: calc(var(--index) * 20);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__banner {
      height: calc(var(--index) * 24);
    }
  }
}

@media (max-width: 576px) {
  .header {
    &__banner {
      height: calc(var(--index) * 20);
    }
  }
}