.gallery {

  margin-top: 80px;

  &-item + &-item {
    margin-top: 1.5rem;
  }
  &-item {

    cursor: pointer;

    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    width: 100%;

    a {
      display: inline-block;
    }

    img {
      width: 100%;
      height: auto;
      transition: .4s all ease;
    }
  }
}


@media (max-width: 992px) {
  .gallery {
    margin-top: 62px;
  }
}

@media (max-width: 576px) {
  .gallery {
    margin-top: 48px;
    &-item + &-item {
      margin-top: .25rem;
    }
  }
}